{{#each this}}
{{!-- {{#hits}} --}}
<div id='photo-card' class="photo-card">
   <div id='image-thumb' class='image-thumb'>
     <a class='image-link' href='{{largeImageURL}}'></a>
  <img src={{webformatURL}} alt={{tags}} loading="lazy" />
  </a>
  </div>
  <div class="info">
    <p class="info-item">
      <b>Likes</b>{{likes}}
    </p>
    <p class="info-item">
      <b>Views</b>{{views}}
    </p>
    <p class="info-item">
      <b>Comments</b>{{comments}}
    </p>
    <p class="info-item">
      <b>Downloads</b>{{downloads}}
    </p>
  </div>
</div>
{{!-- {{/hits}} --}}
{{/each}}